---
import NavigationBar from '../components/ui/NavigationBar.astro'
import Main from '../components/ui/Main.astro'
import Footer from '../components/ui/Footer.astro'
import Header from '../components/blocks/head/Header.astro'
import NotificationToast from '../components/ui/NotificationToast.astro'
import Scripts from '../components/scripts/ThemeScripts.astro'
import '../styles/global.css'

import { configData } from '../config/config'

type Props = {
  title?: string
  description?: string
  ogImage?: string
  noindex?: boolean
  navigation?: 'none' | 'transparent' | 'sticky'
  footer?: 'none' | 'basic'
}
const { title, description, ogImage, noindex, navigation = 'sticky', footer = 'basic' } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-animation mode-light">
  <Header title={title} description={description} ogImage={ogImage} noindex={noindex} />
  <body class:list={['mode-light', { ['scroll-animation']: configData.scrollAnimations }]}> 
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {navigation !== 'none' && <NavigationBar type={navigation} />}
    <Main>
      <slot />
    </Main>
    {footer !== 'none' && <Footer />}
    <NotificationToast />
    <Scripts />
  </body>
</html>
